name: CI Build

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 8 * * 1" # At 08:00 on Monday

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - name: Setup .Net
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
      - uses: actions/checkout@v6
      - name: Build
        run: dotnet build --configuration Release
      - name: Test
        run: dotnet test --no-build --configuration Release --results-directory TestResults --report-trx

      - name: Publish test results
        uses: dorny/test-reporter@v2.5.0
        if: always()
        with:
          name: 'Test Results'
          path: 'TestResults/*.trx'
          reporter: dotnet-trx

  code-style:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Setup .Net 10.0.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: Restore
        run: dotnet restore --nologo
      - name: .Net Format
        run: dotnet format --no-restore --verify-no-changes -v diag
