name: PR CI Build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  unit-test:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - name: Setup .Net 6.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'
      - name: Setup .Net 7.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
      - uses: actions/checkout@v2
        with:
          # shallow clone disabled as recommended by SonarCLoud - https://github.com/marketplace/actions/sonarcloud-scan
          fetch-depth: 0
      - name: Build & test
        run: |
          dotnet build --configuration Release
          dotnet test --nologo --no-build --configuration Release

  code-style:
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
    steps:
      - uses: actions/checkout@v2
      - name: Setup .Net 7.0.x
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
      - name: Restore
        run: dotnet restore --nologo
      - name: .Net Format
        run: dotnet format --no-restore --verify-no-changes -v diag
